.card{
   display: inline-block;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   padding: 16px;
   margin: 16px;
   background-color: #fff;
}

.card h2 {
   font-size: 1.5rem;
   margin: 0;
   padding: 0;
   color: #333;
   text-align: left; /* Добавлено для выравнивания текста слева */
 }
 
 .card img {
   max-width: 100%;
   height: auto;
   margin-top: 10px;
   border-radius: 5px;
 }
 
 .card p {
   font-size: 1rem;
   color: #666;
   margin-top: 10px;
   text-align: left; /* Добавлено для выравнивания текста слева */
 }

 .music-create-button{
   background-color: #007bff;
   color: #fff;
   padding: 10px 20px;
   margin-left: 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
